out
.out
hdd.qcow2
hdd.o
hdd.tar
compile_flags.txt
.ninja_log
.autogen
.ccls
.ccls-cache
libc.a
libaudio.a
dump.dat
virtdrive

/Bootloader/*.bin
/Bootloader/*.o
/Bootloader/c.compiled.asm
/Bootloader/fin.compiled.asm
